<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
	<nav th:replace="header :: navigation"></nav>
	<div class="container">
		<div class="col-6">
			<form action="#" th:action="@{/worker/repair}"
				th:object="${repair}" method="post">
				<input type="text" th:field="*{id}" style="display:none;"/>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
					<label for="price" class="control-label">Price</label> <input
						id="price" class="form-control" th:field="*{price}" />
					<p class="error-message"
						th:each="error: ${#fields.errors('price')}" th:text="${error}">Validation
						error</p>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
					<label for="description" class="control-label">Description</label>
					<textarea id="description" class="form-control" th:field="*{description}"></textarea>
					<p class="error-message"
						th:each="error : ${#fields.errors('description')}" th:text="${error}">Validation
						error</p>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
</body>
</html>