<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
	<nav th:replace="header :: navigation"></nav>
	<div class="container">
		<p>
			<a href="/registration" th:href="@{/registration}">Add
				worker</a>
		</p>
		<div th:if="${workers != null && !workers.isEmpty()}">

			<table class="table table-hover">
				<thead>
					<th>First name</th>
					<th>Last name</th>
					<th>Skills</th>
					<th></th>
					<th>Action</th>
				</thead>
				<tr th:each="worker : ${workers}">
					<td th:text="${worker.firstName}"></td>
					<td th:text="${worker.lastName}"></td>
					<td th:text="${worker.getSkillsString()}"></td>
					<td><a class="btn btn-danger"
						   th:href="@{'/shop/skill/'+${worker.id}}">Add skill</a></td>
					<td><a class="btn btn-danger"
						th:href="@{'/shop/delete/'+${worker.id}}">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>