<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<nav th:replace="header :: navigation"></nav>
<div class="container">
    <p>
        <a href="/addCar" th:href="@{/addCar}">Add car</a>
    </p>
    <div th:if="${cars != null && !cars.isEmpty()}">
        <table class="table table-hover">
            <thead>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Registration</th>
            <th>Schedule repair</th>
            <th>History</th>
            <th>Delete</th>
            </thead>
            <tr th:each="car : ${cars}">
                <td th:text="${car.make}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.registration}"></td>
                <td><a class="btn btn-danger"
                       th:href="@{'/car/schedule_repair/'+${car.id}}">Schedule repair</a></td>
                <td><a class="btn btn-danger"
                       th:href="@{'/car/repairs/'+${car.id}}">Repair History</a></td>
                <td><a class="btn btn-danger"
                       th:href="@{'/car/delete/'+${car.id}}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>